# Visual Studio Code editor
.vscode/settings.json

# Pycharm
.idea/

# Python
__pycache__/
.pytest_cache/*
*.py[cod]
*$py.class

.coverage

# Jupyter notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Eggs
ukat.egg-info/
.eggs/