name: Upload manual to Github Page
on:
  push:
    tags-ignore:
      - 'v*rc*'
    tags:
      - 'v*[!rc]*'
    workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          
      - name: Install Python Packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pdoc3
      
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d')"

      - name: Generate updated Reference Manual
        run: |
          pdoc --html --force --output-dir "doc" "ukat"
      - name: Deploy manual to Github Page https://ukrin-maps.github.io/ukat/
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: doc/ukat
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Reference Manual ${{ steps.date.outputs.date }}"